
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0008ff;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

#search-form {
    margin-top: 20px;
}

#search-form input[type="text"] {
    padding: 8px;
    font-size: 16px;
    border: none;
    border-radius: 4px 0 0 4px;
}

#search-form button {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

main {
    flex-wrap: wrap;
    padding: 20px;
}

section {
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 20px;
}

#current-weather {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 4px;
    display: block;
    text-align: center;
}

#forecast {
    background-color: #f9f9f9;
    padding: 5px;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

#search-history {
    flex-basis: 100%;
}

#search-history ul {
    list-style-type: none;
    padding: 0;
}

#search-history li {
    margin-bottom: 10px;
    padding: 8px 16px;
    font-size: 16px;
    background-color: #f9f9f9;
    border: black;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

#search-history li:hover {
    text-decoration: underline;
}

.forecast-card {
    background-color: #04002c;
    color: white;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: 200px; 
    margin: 0 10px;
    display: flexbox;
}

.forecast-card img {
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto;
}